{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Butter dwiki</title>
</head>
<body>
<h1>Butter dwiki 🧈</h1>
<main>
    {{template "main" .}}
</main>
<footer>
    <p>Powered by the Butter framework!</p>
    <img src="https://github.com/a-shine/butter/raw/main/butterLogo.png">
    <p>See more at <a href="https://github.com/a-shine/butter">github.com/a-shine/butter</a></p>
</footer>
</body>
</html>
{{end}}